<div class="container mt-3">
  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
      Selecciona una opción
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <li><a class="dropdown-item" (click)="selectOption('opcion1')">Máquina de Turing Universal</a></li>
      <li><a class="dropdown-item" (click)="selectOption('opcion2')">Máquina de Turing NO Determinista</a></li>
    </ul>
  </div>

  <div *ngIf="selectedOption === 'opcion1'">
    <div class="container mt-5">
      <h1 class="text-center mb-4">Máquina de Turing Universal</h1>

      <div class="form-group">
        <label for="estados">Estados (separados por comas):</label>
        <input type="text" class="form-control" id="estados" placeholder="ej: q0, q1">
      </div>

      <div class="form-group">
        <label for="alfabeto">Alfabeto (separado por comas):</label>
        <input type="text" class="form-control" id="alfabeto" placeholder="ej: 0, 1">
      </div>

      <div class="form-group">
        <label for="transiciones">Función de transición (estado,símbolo,estado_siguiente,símbolo_escribir,dirección; separados por punto y coma):</label>
        <input type="text" class="form-control" id="transiciones" placeholder="ej: q0, 0, q1, 1, R; q1, 1, q0, 0, L">
      </div>

      <div class="form-group">
        <label for="estado_inicial">Estado inicial:</label>
        <input type="text" class="form-control" id="estado_inicial" placeholder="ej: q0">
      </div>

      <div class="form-group">
        <label for="estados_de_aceptacion">Estados de aceptación (separados por comas):</label>
        <input type="text" class="form-control" id="estados_de_aceptacion" placeholder="ej: q1">
      </div>

      <div class="form-group">
        <label for="cadena_de_entrada">Cadena de entrada:</label>
        <input type="text" class="form-control" id="cadena_de_entrada" placeholder="ej: 01">
      </div>

      <div class="d-flex mt-3">
        <button class="btn btn-primary me-2" (click)="ejecutar()">Simular</button>
        <button type="button" class="btn btn-warning" (click)="limpiar()">Limpiar</button>
      </div>

      <div class="mt-4">
        <h2 class="text-center">Posibles Caminos de Ejecución</h2>
        <div *ngIf="visualizacionUniversal; else noVisualizacion">
          <div *ngFor="let visual of caminos">
            <pre>{{ visual | json }}</pre>
      
        <ng-template #noCaminos> 
              <p>No hay visualizacion disponible</p>
        </ng-template>
      </div>
      
        </div>
        <ng-template #noVisualizacion>
          <p class="text-center">No se encontro visualización de la ejecucion</p>
        </ng-template>
      </div>

      <h2 class="text-center mt-4" id="resultado">{{resultado}}</h2>
    </div>
  </div>

  <div *ngIf="selectedOption === 'opcion2'">
    <div class="container mt-5">
      <h1 class="text-center mb-4">Máquina de Turing NO Determinista</h1>

      <div class="form-group">
        <label for="estados">Estados (separados por comas):</label>
        <input type="text" class="form-control" id="estados" placeholder="ej: q0,q1">
      </div>

      <div class="form-group">
        <label for="alfabeto">Alfabeto (separado por comas):</label>
        <input type="text" class="form-control" id="alfabeto" placeholder="ej: 0,1">
      </div>

      <div class="form-group">
        <label for="transiciones">Función de transición (estado,símbolo,estado_siguiente,símbolo_escribir,dirección; separados por punto y coma):</label>
        <input type="text" class="form-control" id="transiciones" placeholder="ej: q0, 0, q1, 0, R; q1, 1, q0, 1, R">
      </div>

      <div class="form-group">
        <label for="estado_inicial">Estado inicial:</label>
        <input type="text" class="form-control" id="estado_inicial" placeholder="ej: q0">
      </div>

      <div class="form-group">
        <label for="estados_de_aceptacion">Estados de aceptación (separados por comas):</label>
        <input type="text" class="form-control" id="estados_de_aceptacion" placeholder="ej: q1">
      </div>

      <div class="form-group">
        <label for="cadena_de_entrada">Cadena de entrada:</label>
        <input type="text" class="form-control" id="cadena_de_entrada" placeholder="ej: 01">
      </div>

      <div class="d-flex mt-3">
        <button class="btn btn-primary me-2" (click)="ejecutar()">Simular</button>
        <button type="button" class="btn btn-warning" (click)="limpiar()">Limpiar</button>
      </div>
      
      <div class="mt-4">
        <h2 class="text-center">Posibles Caminos de Ejecución</h2>
        <div *ngIf="caminos.length > 0; else noCaminos">
          <div *ngFor="let camino of caminos">
            <pre>{{ camino | json }}</pre>
          </div>
        </div>
        <ng-template #noCaminos> 
          <p>No hay visualizacion disponible</p>
        </ng-template>
      </div>

      <h2 class="text-center mt-4" id="resultado">{{resultado}}</h2>
    </div>
  </div>
</div>
